.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea/modules.xml
*.iml
.idea/
build/
app.iml
.idea/gradle.xml
.idea/modules.xml
app/app.iml
**/*.iml
smart_e_bike.iml
.idea/dictionaries/Quentin.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/dictionaries/Loann.xml
